a.btn[target="_blank"], .block-call_to_action--accent_background .call_to_action .actions a, .block-call_to_action--accent_background .call_to_action .actions a:first-child
    font-weight: bold
    border-radius: 0

footer a, footer li span
    font-weight: bold !important

button, button span
    font-weight: bold !important