$color-accent: #ff0000

$heading-font-family: "Syne", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 40px
$header-logo-height-desktop: 50px
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop

$body-size-desktop: px2rem(16) !default
$body-size: px2rem(14) !default

$lead-size-desktop: px2rem(42) !default
$lead-size: px2rem(20) !default

$small-size: px2rem(11) !default
$signature-size-desktop: px2rem(16) !default
$signature-size: px2rem(14) !default

$body-line-height: 120% !default
$h1-line-height: 110% !default
$h2-line-height: 110% !default
$h3-line-height: 110% !default
$h4-line-height: 110% !default
$h5-line-height: 110% !default
$h6-line-height: 110% !default

$grid-gutter: 20px
$spacing1: 12px !default
$spacing2: 18px !default
$spacing3: 24px !default
$spacing4: 36px !default
$spacing5: 48px !default
