header#document-header
    border-bottom: 4px solid red
    background: white

.menu .nav-level-1 > li > a, .menu .nav-level-1 > li > span
    font-weight: bold


@include media-breakpoint-up(md)
    header#document-header .primary-menu
        padding-top: 0.5rem
        padding-bottom: 0.5rem
