header#document-header
    border-bottom: 4px solid red
    background: white

@include media-breakpoint-up(md)
    header#document-header .primary-menu
        padding-top: 0.5rem
        padding-bottom: 0.5rem
