.organization .media--logo
    padding: 0

.avatar
    border-radius: 0


.persons--grid
    article.person
        flex-direction: column
        gap: 0.5rem

        h3
            text-align: left
            a
                font-weight: normal
                font-size: var(--meta-size)
                line-height: var(--meta-line-height)s
                

body.full-width .block-links--grid ul, body.full-width .block-links--cards ul, main > .blocks .block-links--grid ul, main > .blocks .block-links--cards ul, .contents-full-width .block-links--grid ul, .contents-full-width .block-links--cards ul
    grid-gap: 1rem

.block-links--cards li
    .link-content
        min-height: 0
        padding: 1rem
        
    
    a[target="_blank"]:not(.icon)::after, .link[target="_blank"]:not(.icon)::after
        font-size: 1rem
        padding-bottom: 0.3rem


@include media-breakpoint-up(xs)
    .persons--grid, .organizations--grid
        grid-template-columns: repeat(2,1fr)

    article.person
        flex-direction: column-reverse !important

    article.person .avatar, .organization .media--logo
        width: 100%

@include media-breakpoint-up(sm)
    .persons--grid, .organizations--grid
        grid-template-columns: repeat(3,1fr)
        gap: 1rem

@include media-breakpoint-up(md)
    article.person
        flex-direction: column !important
        justify-content: flex-start

    .contents-full-width .block-image figure img, body.full-width .block-image figure img, main > .blocks .block-image figure img
        width: 100%

@include media-breakpoint-up(xl)
    .persons--grid, .organizations--grid
        grid-template-columns: repeat(6,1fr)
        max-width: none

