.page__home .hero
    .content 
        padding-top: 0
        
        hgroup.has-lead 
            display: flex
            gap: var(--spacing-5)
        
            > p
                font-size: var(--meta-size)

.page__home .blocks .block:first-of-type .rich-text p
    font-size: var(--small-size)
    line-height: var(--small-line-height)

@include media-breakpoint-up(desktop)
    .hero
        min-height: 0

    .page__home .blocks
        display: grid
        grid-template-columns: 60% 40%

        .block
            grid-column: span 2

            &:first-of-type
                grid-column: 1
            
            &:nth-of-type(2)
                grid-column: 2

@include media-breakpoint-up(md)
    .projects--grid
        grid-template-columns: repeat(3, 1fr)
            
